<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>양조장 상세페이지</title>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<link rel="stylesheet" href="../../css/brewery/breweryDetail.css">
 	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=mruze9igh4&submodules=geocoder"></script>
	<script type="text/javascript"src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=mruze9igh4"></script>
</head>

<body>
	<header>
		<div class="header-top">
			<div style="width: 100px;;"></div>
	            <a href="/" class="logo-link">
					<div id="logo-container">
						<img src="../../img/logo.png" alt="" id="logo">
						<h1>술길따라</h1>
					</div>
				</a>
			<div class="user-actions">
		            <div class="dropdown" th:if="${session.userId != null}">
	        			<a href="#" class="icon-user" id="userMenuToggle">
	            			<img class="header-img" src="/img/free-icon-user-17095347.png" alt="사용자 아이콘">
	        			</a>
	        			<div class="mypage-content" id="mypageDropdown">
	        				<span class="user-name" th:text="${session.userName} + '님'"></span>
	        					<hr>
	            			<a href="/user/update">마이페이지</a>
	            			<a href="/user/logout">로그아웃</a>
	            			<a href="/reservation/search">예약조회</a>
	        			</div>
	    			</div>
	    			<div th:if="${session.userId == null}">
	    				<a href="/user/login" class="icon-user">
		                	<img class="header-img" src="/img/free-icon-user-17095347.png" alt="">
		                </a>
		            </div>
	               	<a href="#" class="icon-menu">
	                	<img class="header-img" src="/img/free-icon-menu-3856832.png" alt="">
	                </a>	                
	    		</div>
			</div>
		<nav>
			<ul>
				<li><a href="/#story">술길따라 이야기</a></li>
                <li><a href="/brewery/">양조장 탐방</a></li>
                <li><a href="/liquor/search">술 도감</a></li>
                <li><a href="/reservation/list">투어 예약</a></li>
                <li><a href="/board/listCard">술 이야기</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="container">
			<div class="brewery-info">
			    <div class="brewery-image">
			        <img th:src="@{|${brewery.filePath}/${brewery.fileRename}|}" alt="양조장 이미지">
			    </div>
			    <div class="brewery-details">
			        <div class="brewery-location">
			            <span class="brewery-local" th:text="${brewery.breweryLocal}"></span>
			            <span class="tour-badge">투어가능</span>
			        </div>
			        <h1 class="brewery-name" th:text="${brewery.breweryName}"></h1>
			        <ul class="info-list">
			            <li><b>주소:</b> <span th:text="${brewery.breweryAddr}"></span></li>
			            <li><b>전화번호:</b> <span th:text="${brewery.breweryPhone}"></span></li>
			            <li><b>영업시간:</b> <span th:text="${brewery.openTime} + ' ~ ' + ${brewery.closeTime}"></span></li>
						<li><b>주종:</b>
							<span th:each="liquor, iterStat : ${liquorMap.lList}" 
				          th:if="${iterStat.index == 0 || liquor.liquorType != liquorMap.lList[iterStat.index-1].liquorType}"
				          th:text="${liquor.liquorType + ' '}"></span>
						</li>
						<li><b>홈페이지:</b> <a th:href="@{${brewery.breweryUrl}}" th:text="${brewery.breweryUrl}">홈페이지 링크</a></li>					</ul>
				</div>
			</div>
			<h2 class="section-title" id="productGoods">생산제품</h2>
			<div class="products-container">
			    <div th:each="liquor, iterStat : ${liquorMap.lList}" class="product">
			        <img th:if="${iterStat.index < liquorMap.iList.size()}" 
			             th:src="@{|${liquorMap.iList[iterStat.index].filePath}/${liquorMap.iList[iterStat.index].fileRename}|}" 
			             alt="제품 이미지">
			        <div class="product-info">
			            <span class="product-name" th:text="${liquor.liquorName}"></span>
			            <div class="product-details" th:text="${liquor.alcholContent} + '% &nbsp;&nbsp;'+ ${liquor.liquorPrice} + '원 '"></div>
			        </div>
			    </div>
			</div>
			<h2 class="section-title">체험 프로그램</h2>
			<div class="programs">
				<div th:each="tour : ${tList}" class="program">
					<h3 class="program-name" th:text="${tour.tourName}"></h3>
					<div class="program-info" th:text="${tour.tourContent}">프로그램 상세정보</div>
					<div class="program-details">
						<span th:text="'소요시간 : ' + ${tour.timeTaken} + ' 금액 : ' +${tour.tourPrice} + '원'"></span>
						<form th:action="@{/reservation/initate/{breweryNo}/{tourNo}(breweryNo=${tour.breweryNo},tourNo=${tour.tourNo})}" method="POST">
							<input type="hidden" name="tourName" th:value="${tour.tourName}">
							<button class="book-button">예약하기</button>						
						</form>
					</div>
				</div>
			</div>

			<h2 class="section-title">위치</h2>
			<div id="address" th:text="${brewery.breweryAddr}"></div>
			<div id="map"></div>
			<script type="text/javascript">
			 	document.addEventListener('DOMContentLoaded', function() {
	                var address = document.querySelector("#address").innerHTML;	
	                naver.maps.Service.geocode(
               		  {
               		    query: address, // 주소 전달
               		  },
               		  function (status, response) {
               		  	console.log(response.v2.addresses[0].x);
               		    console.log(response.v2.addresses[0].y);
		                var lng = response.v2.addresses[0].x;
	        		    var lat = response.v2.addresses[0].y;
					 	var mapOptions = {
			            	center: new naver.maps.LatLng(lat, lng),
		                    zoom: 20
		                };
		                var map = new naver.maps.Map('map', mapOptions);
		                var marker = new naver.maps.Marker({
                            position: new naver.maps.LatLng(lat, lng),
                            map: map
                        });
               		  }
               		);
	      		});
			</script>
			

			<h2 class="section-title">편의시설</h2>
			<div class="amenities">
			    <div class="amenity" th:each="fac : ${iconMap}">
			        <img th:src="@{${fac.value}}" />
			        <div class="fac-name" th:text="${fac.key}"></div>
			    </div>
			</div>
			<h2 class="section-title">키즈존</h2>
			<div th:if="${brewery.kidsZone == 'yes'}" class="amenity">
			    <img th:src="@{/img/yesbaby.png}" alt="Kids Zone Available" />
			    <div class="fac-name">입장 가능</div>
			</div>
			<div th:if="${brewery.kidsZone == 'no'}" class="amenity">
			    <img th:src="@{/img/nobaby.png}" alt="Kids Zone Not Available" />
			    <div class="fac-name">입장 불가</div>
			</div>
			
			<h2 class="section-title">장애인 편의시설</h2>
			<div th:if="${brewery.disFriendly == 'yes'}" class="amenity">
			    <img th:src="@{/img/yesdisabled.png}" alt="Accessibility Available" />
			    <div class="fac-name">휠체어 출입구</div>
			</div>
			<div th:if="${brewery.disFriendly == 'no'}" class="amenity">
			    <img th:src="@{/img/nodisabled.png}" alt="Accessibility Not Available" />
			    <div class="fac-name">별도 시설 없음</div>
			</div>
		</div>
	</main>
	<footer>
		<nav>
			<a href="#">이용약관</a> |
			<a href="#">개인정보처리방침</a> |
			<a href="#">사이트맵</a>
		</nav>
		<div class="company-info">
			<p>상호 : 술길따라 | 대표이사 : 김정욱 | 설립일 : 2024년 8월 26일 | 개인정보관리책임자 : 홍예은</p>
			<p>문의 : jwkim@gmail.com | 사업자등록번호 : 111-22-33333 | 서울시 중구 남대문로 120</p>
		</div>
		<div class="social-icons">
			<a href="#" class="icon-facebook"><img src="../../img/free-icon-facebook-circular-logo-20673.png"
					alt=""></a>
			<a href="#" class="icon-instagram"><img src="../../img/free-icon-instagram-4922972.png" alt=""></a>
		</div>
		<p class="copyright">Copyright 2024 Sulgilddara Inc. | All Rights Reserved</p>
	</footer>
</body>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		const userMenuToggle = document.getElementById('userMenuToggle');
		const mypageDropdown = document.getElementById('mypageDropdown');
		
		if (userMenuToggle && mypageDropdown) {
		    userMenuToggle.addEventListener('click', function(e) {
		        e.preventDefault();
		        mypageDropdown.classList.toggle('show');
		    });
		
		    // 드롭다운 외부 클릭 시 닫기
		    window.addEventListener('click', function(e) {
		        if (!e.target.matches('.icon-user') && !e.target.matches('.header-img')) {
		            if (mypageDropdown.classList.contains('show')) {
		                mypageDropdown.classList.remove('show');
		            }
		        }
		    });
		}
	});
</script>
</html>