* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Noto Serif KR', serif;
    font-size: 10px;
    line-height: 1.5;
}

header {
    background-color: white;
    padding: 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    
    margin-bottom: 25px;
}

h1 {
	font-size: 40px;
	font-weight: 800;
	margin-top: 8px;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

nav ul li a {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

.user-actions {
    display: flex;
    /* gap: 20px; */
}

.icon-user, .icon-menu {
    width: 50px;
    height: 50px;
    /* background-color: #D9D9D9; */
}

.user-actions img{
    width: 30px;
    height: 30px;
}

main {
    width: 90vw;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 20px;
}

footer {
    background-color: white;
    padding: 50px 20px;
    text-align: center;
}

footer nav {
    margin-bottom: 20px;
}

footer nav a {
	text-decoration: none;
	color: black;
	font-size: 15px;
}
.company-info {
	font-size: 13px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.icon-facebook, .icon-instagram {
    width: 40px;
    height: 40px;
}

.social-icons img{
    width: 100%;
}

.copyright {
    font-size: 10px;
}


@media (min-width: 768px) {
    
    h1 {
        font-size: 4rem;
    }
    .user-actions img{
        width: 40px;
        height: 40px;
        margin: auto;
    }
    #logo{
        width: 60px;
        height: 60px;
    }
}
#logo{
    width: 50px;
    height: 50px;
}

@media (min-width: 1024px) {
    .header-img{
        margin: 10px 20px;
        flex: 1;
        min-width: 0;
    }
    .user-actions {
        display: flex;
        gap: 20px;
    }
    
    .icon-user{
        display: inline-block;
        width: 50px;
        height: 50px;
    }

    .user-actions img{
        width: 50px;
        height: 50px;
    }
    
    h1 {
        font-size: 40px;
    }
    #logo{
        width: 80px;
        height: 80px;
    }
    main {
        padding: 0;
    }
}

#logo{
    /* width: 100px;
    height: 100px; */
    border-radius: 25%;
    margin: auto 10px;
    /* margin-right: 10px; */


}

#logo-container{
    display: flex;
    flex-direction: row;
    
}

.header-img{
    margin: 10px 10px;
    flex: 1;
    min-width: 0;
}

.icon-user{
    display: inline-block;
    width: 50px;
    height: 50px;
}

/* user.css */

    .modify-section {
        background-color: #f9f8f8;
        padding: 50px 50px 0px 50px;
        margin: 50px 330px 20px 330px;
        height: 1400px;
    }

    .modify-section ul, .modify-section li {
        list-style: none;
    }

    .modify-section h2 {
        text-align: center;
    }
        .modify-form {
            text-align: center;
            margin-top: 30px;
            font-size: 1.5em;
        }

        .modify-form label {
            width: 20%;
            --display: inline-block;
            float: left;
            margin-top: 30px;
        }
        
        .modify-form button {
            margin-top: 30px;
            border: none;
            
        }
        .modify-form input{
            float: left;
            width: 80%;
            margin: 10px 0;
            padding: 20px;
            font-size: 16px;
            border: #6B6B6B;
            font-family: 'Noto Serif KR', serif;
        }
        
        #gender-check {
            width: 80%;
            float: left;
            margin: 10px 0;
            padding: 20px;
        }

        .modify-form input[type="radio"] {
            width: 10%;
            --float: left;
        }

        .gender-radio {
            width: 15%;
            float: left;
        }
        .profile {
            width: 100%;
            height: 200px;
            display: flex;
            padding: 0px 100px;
            justify-content: center;
        }

        #preview {
            background-size: contain;
            justify-content: center;
        }

        .modify-form input[type="file"] {
            --padding : 50px;
            width: 100%;
        }

        .input-file-button{
            padding: 6px 25px;
            background-color:#FF6600;
            border-radius: 4px;
            color: white;
            cursor: pointer;
        }

    .modify-section button {
        font-size: 1.8em;
        font-weight: bold;
        font-family: 'Noto Serif KR', serif;
    }
    .modify-form button{
        text-align: center;
        float: left;
        width: 90%;
        margin: 40px 85px;
        padding: 20px;
        font-size: 16px;
        background-color: #323240;
        font-family: 'Noto Serif KR', serif;
        color: white;
    }

    #file-upload {
        display: flex;
        justify-content: center;
        margin: 0px 0px 20px 0px;
    }
    
    .btn-upload {
        width: 200px;
        height: 40px;
        background: #F2EADF;
        --border: 1px solid rgb(77,77,77);
        border-radius: 8px;
        font-weight: 500;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background: rgb(77,77,77);
            color: #fff;
        }
    }
    
    #profileImage {
        display: none;
    }

    .required {
        color: red;
    }

    .requireds {
        text-align: right;
    }

    aside {
        width: 15%;
        float: left;
    }

        #aside-main {
            margin: 20px 0px 0px 40px;
            background-color: #323240;
            border-radius: 30px;
            height: 400px;
            display: flex;
            justify-content: center;
        }

            #aside-content {
                align-content: space-between;
                font-size: 1.8em;
                color: white;
                margin : 50px 0px;
                text-align: center;
            }

            #aside-content li {
                
                padding-top: 30px;
                text-decoration: none;
                list-style: none;
            }

                #aside-content li a {
                    --color: black;
                    color: white;
                    text-decoration: none;
                }

                #aside-content li a:hover {
                    font-weight: 600;

                }

                #aside-content li a.active {
                    font-weight: 600;
                }

                .mypage-header {
                    margin-top: 50px;
                }
    
/* 네비게이션 드롭다운 bar css */
        .dropdown {
            position: relative;
            display: inline-block;
        }
        
        .icon-user {
            cursor: pointer;
        }
        
        .header-img {
            width: 30px;
            height: 30px;
        }
        
        .mypage-content {
			display: none;
			position: absolute;
			background-color: #F9F9F9;
			min-width: 120px;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 2;
			right: 0;
			font-size: 13px;
			font-weight: 400;
			--text-align: center;
		}
        
        .mypage-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .mypage-content a:hover {
            background-color: #f1f1f1;
        }
        
        .show {
            display: block;
        }
        
		.user-name {
			padding: 12px 16px;
			display : block;
		}
		
		.logo-link {
			text-decoration: none; /* 링크의 밑줄 제거 */  
			color: inherit; /* 링크의 색상 제거 */
		}