<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" >
	<head>
		<meta charset="UTF-8">
		<title>술 이야기 메인</title>
		<script src="https://kit.fontawesome.com/7d4169cb69.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../css/board/header.css">
		<link rel="stylesheet" href="../css/board/listCard.css">
		<link rel="stylesheet" href="../css/board/footer.css">
		
	</head>
	<body>
		<header>
	        <div class="header-top">
	            <div style="width: 100px;;"></div>
	            	<a href="/" class="logo-link">
		            <div id="logo-container">
		                <img src="/img/logo.png" alt="" id="logo">
			            <h1>술길따라</h1>
		            </div>
	            	</a>
	            <div class="user-actions">
		            <div class="dropdown" th:if="${session.userId != null}">
	        			<a href="#" class="icon-user" id="userMenuToggle">
	            			<img class="header-img" src="/img/free-icon-user-17095347.png" alt="사용자 아이콘">
	        			</a>
	        			<div class="mypage-content" id="mypageDropdown">
	        				<span class="user-name" th:text="${session.userName} + '님'"></span>
	        					<hr>
	            			<a href="/user/update">마이페이지</a>
	            			<a href="/user/logout">로그아웃</a>
	            			<a href="/reservation/search">예약조회</a>
	        			</div>
	    			</div>
	    			<div th:if="${session.userId == null}">
	    				<a href="/user/login" class="icon-user">
		                	<img class="header-img" src="/img/free-icon-user-17095347.png" alt="">
		                </a>
		            </div>
	               	<a href="#" class="icon-menu">
	                	<img class="header-img" src="/img/free-icon-menu-3856832.png" alt="">
	                </a>
	            </div>
	        	</div>
	        <nav>
	            <ul>
	                <li><a href="/#story">술길따라 이야기</a></li>
	                <li><a href="/brewery/">양조장 탐방</a></li>
	                <li><a href="/liquor/search">술 도감</a></li>
	                <li><a href="/reservation/list">투어 예약</a></li>
	                <li><a href="/board/listCard">술 이야기</a></li>
	            </ul>
	        </nav>
	    </header>
		<div class="container">
		
		
		<div style="display: flex; justify-content: flex-end; padding-right: 10px;">
			<a id="writePageLink" th:href="@{/board/writePage}" th:text="'글 등록'"></a>
		</div>
	<form id="searchFormBar" action="/board/listCard" method="get">
		<input type="hidden" name="searchMethod" value="keywordSearch">
		
		<div id="searchBarContainer">
			 <select id="searchCondition" name="searchCondition">
			 	<option value="all" th:selected="${searchCondition eq 'all'}">전체</option>
			    <option value="boardSubject" th:selected="${searchCondition eq 'boardSubject'}">제목</option>
			    <option value="boardWriter" th:selected="${searchCondition eq 'boardWriter'}">작성자</option>
			 </select>
			 
			 <div style="position: relative; width: 100%">
				<input id="searchBar" type="text" name="searchKeyword" th:value="${searchKeyword}">
				<div style="position: absolute; top: 0px; left: 100%; transform: translateX(-50%);">
					<button id="searchBtn-keyword"><i class="fa-solid fa-magnifying-glass"></i></button>
				</div>
			 </div>
		</div>
		
			 <!-- 정렬 선택 hidden input -->
		<input type="hidden" id="orderInputHidden_default"  name="orderSelectBox" th:value="${orderSelectBox}">
	</form>
	
	<div>
		<form action="/board/searchTag_listCard" method="get">
			<input type="hidden" name="searchMethod" value="tagSearch">
			<div id="tagListContainer">
				<button type="submit" id="searchButton" disabled>간편검색</button>
				<div th:each="tag : ${bTagListDistinct}">
					<input style="opacity: 0; width: 0px;" type="checkbox" class="tagCheckBox" th:name="tagName" th:value="${tag.boardTagName}" th:id="${tag.boardTagName}" th:checked="${selectedTags != null && #strings.contains(selectedTags, tag.boardTagName)}">
					<label th:for="${tag.boardTagName}"># [[${tag.boardTagName}]]</label>		
				</div>
			</div>
			
<!-- 			체크하지 않았을땐 비활성화(default) -->
<!-- 			정렬 선택 hidden input -->
			<input type="hidden" id="orderInputHidden_tag"  name="orderSelectBox" th:value="${orderSelectBox}">
		</form>
	</div>


<!-- 		정렬 선택 -->
	<div class="sort-select">
		<select name="orderSelectBox" id="orderSelectBox" onchange="updateHiddenValue();">
			<option value="latest" th:selected="${orderSelectBox eq 'latest'}">최신순</option>
			<option value="viewCount" th:selected="${orderSelectBox eq 'viewCount'}">조회순</option>
			<option value="boardPoint" th:selected="${orderSelectBox eq 'boardPoint'}">별점순</option>
		</select>
	</div>
		
		
	<div th:if="${#lists.isEmpty(bList)}">
			<div>NoData</div>
			<a th:href="@{/board/listCard(cp=${p},boardSubject=${boardSubject})}">처음으로</a>
 	</div>	
	
	<div class="review-grid">
		<div class="review-card"  th:if="${!#lists.isEmpty(bList)}" th:each="board : ${bList}">
					<a style="display: block; text-decoration: none" th:href="@{/board/detailPage/{boardNo}/{viewStatus}(boardNo=${board.boardNo}, viewStatus='yes')}">
						<div class="boardOne">
							<div class="review-header">
			                    <h3 th:text="'['+${board.liquorName}+'] '+ ${#strings.length(board.boardSubject) > 15 ? board.boardSubject.substring(0, 15) + ' . . .' : board.boardSubject}"></h3>

			                    <div class="starContainer" th:if="${board.boardPoint == 0.5}"><i class="fa-solid fa-star-half"></i></div>
			                    <div class="starContainer"  th:if="${board.boardPoint == 1}"><i class="fa-solid fa-star"></i></div>
			                    <div class="starContainer"  th:if="${board.boardPoint == 1.5}"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half"></i></div>
			                    <div class="starContainer"  th:if="${board.boardPoint == 2}"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
			                    <div class="starContainer"  th:if="${board.boardPoint == 2.5}"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half"></i></div>
			                    <div class="starContainer"  th:if="${board.boardPoint == 3}"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
			                    <div class="starContainer"  th:if="${board.boardPoint == 3.5}"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half"></i></div>
			                    <div class="starContainer"  th:if="${board.boardPoint == 4}"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
			                    <div class="starContainer"  th:if="${board.boardPoint == 4.5}"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half"></i></div>
			                    <div class="starContainer"  th:if="${board.boardPoint == 5}"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
		                	</div>
	                	
							<div class="review-content">
								<div th:each="bFile : ${bFileList}"  th:if="${bFile.boardNo == board.boardNo}">
									<div class="thumbnail" th:style="'background-image: url('+ ${bFile.boardFilePath}+${bFile.boardFileRename} + ');background-position: center;background-size: cover; background-repeat: no-repeat;'"></div>
								</div>
								
 			                    
			                    <div th:utext="${board.boardContent}" class="contentDiv-text"></div>
			                    <div style="padding: 0 10px">
			                		<span style="margin-right:10px;" th:text="${#dates.format(board.boardDate, 'yyyy년 MM월 dd일')}"></span>
	
			                    </div>
		                	</div>
		                	<div class="review-footer">
								<div id="bTagList">
									<span style="font-weight: 800;" th:each="tag : ${bTagList}" th:if="${tag.boardNo == board.boardNo}">#[[${tag.boardTagName}]] </span>
								</div>
								<div style="display: flex; justify-content: space-between;">
				                    <span>
										<span style="color: gray; font-weight: 800" >by </span>
										<span style="font-weight: 800" th:text="${board.userId}"></span>
				                    </span>
				                    <span th:text="'조회수: ' + ${board.viewCount}"></span>
								</div>
		                	</div>
		
					</div>
				</a>
		</div>
	</div>
	
	<!-- 	키워드 검색 - 페이징네비 -->
	<div class="paginationBox" th:unless="${#lists.isEmpty(bList)}" th:if="${searchMethod == 'keywordSearch'}">
		<div>
			<a th:if="${pn.currentPage != 1}"  th:href="@{/board/listCard(cp=1, searchMethod=${searchMethod},  searchCondition=${searchCondition}, searchKeyword=${searchKeyword}, orderSelectBox=${orderSelectBox})}">처음</a>
			<a th:if="${pn.getStartNavi() != 1}"  th:href="@{/board/listCard(cp=${pn.prevPage}, searchMethod=${searchMethod},  searchCondition=${searchCondition}, searchKeyword=${searchKeyword}, orderSelectBox=${orderSelectBox})}">이전</a>
			<span th:each="p : ${#numbers.sequence(pn.startNavi, pn.endNavi)}">
				<span th:if="${p == pn.currentPage}">
					<span id="currentPageId">
						[[${p}]]
					</span>
				</span>
				<span th:if="${p != pn.currentPage}">
					<a th:href="@{/board/listCard(cp=${p}, searchMethod=${searchMethod},  searchCondition=${searchCondition}, searchKeyword=${searchKeyword}, orderSelectBox=${orderSelectBox})}" th:text="${p}"></a>			
				</span>
			</span>
			<a th:if="${pn.getEndNavi() != pn.getMaxPage()}" th:href="@{/board/listCard(cp=${pn.nextPage}, searchMethod=${searchMethod},  searchCondition=${searchCondition}, searchKeyword=${searchKeyword}, orderSelectBox=${orderSelectBox})}">다음</a>
			<a th:if="${pn.currentPage != pn.maxPage}"  th:href="@{/board/listCard(cp=${pn.maxPage}, searchMethod=${searchMethod},  searchCondition=${searchCondition}, searchKeyword=${searchKeyword}, orderSelectBox=${orderSelectBox})}">마지막</a>
		</div>
	</div>
	
<!-- 	간편검색 - 페이징네비 -->
	<div class="paginationBox" th:unless="${#lists.isEmpty(bList)}" th:if="${searchMethod == 'tagSearch'}">
		<div>
			<a th:if="${pn.currentPage != 1}"  href="javascript:void(0)" th:text="처음" th:onclick="navigateWithTags(1)"></a>
			<a th:if="${pn.getStartNavi() != 1}"  href="javascript:void(0)" th:text="이전" th:onclick="navigateWithTags([[${pn.prevPage}]])"></a>
			
			
			<span th:each="p : ${#numbers.sequence(pn.startNavi, pn.endNavi)}">
				<span th:if="${p == pn.currentPage}">
					<span>
						[[${p}]]
					</span>
				</span>
				<span th:if="${p != pn.currentPage}">
					<a href="javascript:void(0)" th:text="${p}" th:onclick="navigateWithTags([[${p}]])"></a>
				</span>
			</span>
			<a th:if="${pn.getEndNavi() != pn.MaxPage}"  href="javascript:void(0)" th:text="다음" th:onclick="navigateWithTags([[${pn.nextPage}]])"></a>
			<a th:if="${pn.currentPage != pn.maxPage}"  href="javascript:void(0)" th:text="마지막" th:onclick="navigateWithTags([[${pn.maxPage}]])"></a>
			
		</div>
	</div>
		
		</div>
		
		
		<footer>
	        <nav>
	            <a href="#">이용약관</a> |
	            <a href="#">개인정보처리방침</a> |
	            <a href="#">사이트맵</a>
	        </nav>
	        <div class="company-info">
	            <p>상호 : 술길따라 | 대표이사 : 김정욱 | 설립일 : 2024년 8월 26일 | 개인정보관리책임자 : 홍예은</p>
	            <p>문의 : jwkim@gmail.com | 사업자등록번호 : 111-22-33333 | 서울시 중구 남대문로 120</p>
	        </div>
	        <div class="social-icons">
	            <a href="#" class="icon-facebook"><img src="/img/free-icon-facebook-circular-logo-20673.png" alt=""></a>
	            <a href="#" class="icon-instagram"><img src="/img/free-icon-instagram-4922972.png" alt=""></a>
	        </div>
	        <p class="copyright">Copyright 2024 Sulgilddara Inc. | All Rights Reserved</p>
	    </footer>
	
	
	
	</body>
	
	<script th:inline="javascript">
		document.addEventListener("DOMContentLoaded", function() {
			
	        let contentDivText = document.querySelectorAll(".contentDiv-text");
	        
	        // 텍스트만 출력하기
	        contentDivText.forEach(item => {
	    		if(item.innerText.length > 80){
	        		item.innerHTML = item.innerText.substring(0, 80) + ' . . .';
	    		}else{
	    			item.innerHTML = item.innerText;
	    		}
	        	
	    		
	        });
	                
	        
		
	// 		간편 검색 - 체크박스 아무것도 체크 안할 때 검색 버튼 비활성화
			let searchButton = document.querySelector("#searchButton");
			let tagCheckBox = document.querySelectorAll(".tagCheckBox");
			
			function updateSearchButtonStatus(){
	// 			Array.from()을 이용해 NodeList를 실제 스크립트 배열로 바꿔줌
	// 			배열의 내장 객체 some() 을 이용하여 조건을 만족시키면 true, 아니면 false를 반환
				let anyChecked = Array.from(tagCheckBox).some(checkBox => checkBox.checked);
				searchButton.disabled = !anyChecked;
			}
			
			tagCheckBox.forEach(checkBox => {
				checkBox.addEventListener('change', updateSearchButtonStatus);
			})
			updateSearchButtonStatus();
			
			
			// 정렬 선택 박스 change 시 hidden input 태그 value 변경
	        
	    });
		
		function updateHiddenValue(){
			const orderSelectBox = document.querySelector('#orderSelectBox');
			const hiddenInput_default = document.querySelector('#orderInputHidden_default');
			const hiddenInput_tag = document.querySelector('#orderInputHidden_tag');
			hiddenInput_default.value = orderSelectBox.value;
			hiddenInput_tag.value = orderSelectBox.value;
			
			console.log(hiddenInput_tag.value);
		}
		
		updateHiddenValue();
		
		function navigateWithTags(page) {
		    const selectedTags = [];
		    // 체크된 체크박스의 값을 배열에 추가
		    document.querySelectorAll('input[name="tagName"]:checked').forEach((checkbox) => {
		        selectedTags.push(checkbox.value);
		    });
		    // orderSelectBox 값을 가져오기
		    const orderSelectBox = document.getElementById('orderSelectBox').value;
		    
		    // URL 생성
		    let url = `/board/searchTag_listCard?cp=${page}&searchMethod=tagSearch&orderSelectBox=${orderSelectBox}`;
		    // 선택된 태그들을 URL에 추가
		    if (selectedTags.length > 0) {
		        url += '&tagName=' + selectedTags.join(',');
		    }
		    
		    // 페이지 이동
		    window.location.href = url;
		}

		
		// header 이벤트
		document.addEventListener('DOMContentLoaded', function() {
			const userMenuToggle = document.getElementById('userMenuToggle');
			const mypageDropdown = document.getElementById('mypageDropdown');
			
			if (userMenuToggle && mypageDropdown) {
			    userMenuToggle.addEventListener('click', function(e) {
			        e.preventDefault();
			        mypageDropdown.classList.toggle('show');
			    });
			
			    // 드롭다운 외부 클릭 시 닫기
			    window.addEventListener('click', function(e) {
			        if (!e.target.matches('.icon-user') && !e.target.matches('.header-img')) {
			            if (mypageDropdown.classList.contains('show')) {
			                mypageDropdown.classList.remove('show');
			            }
			        }
			    });
			}
		});
		
		
		</script>
</html>