@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 0;
/*     border: 0; */
/*     font-size: 100%; */
/*     font: inherit; */
/*     vertical-align: baseline; */
}
body, html {
    font-family: 'Noto Serif KR', serif;
    font-size: 10px;
    line-height: 1.5;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none
}

/* header */
header {
	background-color: white;
	padding: 20px;
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	margin: 0 auto;
	margin-bottom: 25px;
}

h1 {
	font-size: 40px;
	font-weight: 800;
	margin-top: 8px;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px;
	margin-bottom: 50px;
}

nav ul li a {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

.user-actions {
	display: flex;
	/* gap: 20px; */
}

.icon-user, .icon-menu {
	width: 50px;
	height: 50px;
	/* background-color: #D9D9D9; */
}

.user-actions img {
	width: 30px;
	height: 30px;
}
main {
    width: 85%;
    margin: 0 auto;
    height: 1500px;
}

	.top {
	    margin: 0 auto;
	    height: 50%;
/* 		float: left; */
		width: 100%;
		display: flex;
		justify-content: center;
	}
	
		.map-inner {
		    position: relative;
		    width: 500px;
		    height: 700px;
		    float: left;
		    margin-right: 100px;		    
		    border: 10px solid #F2EADF;
		}
		
			.mapLink {
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    z-index: 2;
			}
			
				.mapLink .area {
				    position: absolute;
				    /* border: 1px solid black; */
				}
				
				.area.sudo { 
				    top: 29%; 
				    left: 30%; 
				    width: 65px;
				    height: 81px;
				}
				
				.area.gang { 
				    top: 24%; 
				    left: 51%; 
				    width: 77px; 
				    height: 89px;
				}
				
				.area.chung { 
				    top: 46%; 
				    left: 26%; 
				    width: 106px;
				    height: 70px;
				}
				
				.area.jeoll { 
				    top: 63%; 
				    left: 27%; 
				    width: 80px; 
				    height: 102px; 
				}
				
				.area.gyeong { 
				    top: 49%; 
				    left: 55%; 
				    width: 109px; 
				    height: 130px;
				}
				
				.area.jeju { 
				    top: 90%; 
				    left: 20%; 
				    width: 66px; 
				    height: 35px; 
				}
				
			.mapImg img {
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    display: none;
			    z-index: -1;
			}	
			
			#all-btn {
			    position: absolute;
			    bottom: 20px;
			    left: 79%;
			    z-index: 10; 
			    padding: 10px 20px; 
			    background-color: #323240;
			    border: none;
			    border-radius: 5px;
			    cursor: pointer;
			    font-size: 16px;
			    color: white;
			    transition: transform;
				}
				#all-btn:hover {
				    transform: scale(1.1); /* 마우스를 올리면 크기가 1.1배 커짐 */
				}
							
	#mapTag {
		text-align: left;
		height: 35px;
		display: flex;
/* 		float: left; */
/* 		width: 200px; */
		top: -32px;
		left: 45px;
		position: relative;
	}
	#selected-local {
	    font-size: 24px;
	    font-weight: bold;
	    color: #333;
	    display: flex;
/* 	    margin-top: 50px; */
	}
	#detail-list {
/* 		margin-left: 100px; */
		float: left;
		display: flex;
	}
		#selected-list {
/* 			float: left; */
		}
			#brewery-detail {
/* 				border: 1px solid black; */
				width: 500px;
				height: 200px;
				margin-bottom: 20px;
				padding: 27px;
				background-color: #F2EADF;
				border-radius: 20px;
				margin-top: 5px;
			}
				#img-div {
					width: 36%;
					height: 100%;
					background-size: cover; 
					background-position: center; 
					background-repeat: no-repeat; 
					background-color: #f0f0f0;
					display: flex;
					align-items: center;
					justify-content: center;
					float: left;
					cursor: pointer;
					border-radius: 10px;
					margin-right: 16px;
				}
					#img {
						width: 100%;
						height: 100%;
					}
				#text-div {
					float: left;
					width: 60%;
					height: 100%;
					background-color: white;
/* 					border-radius: 10px; */
				}
					#brewery-name {
						margin-left: 20px;
						font-size: 20px;
						font-weight: 600;
						cursor: pointer;
						margin-top: 17px;
						margin-bottom: 15px;
					}
					#brewery-addr, #brewery-phone {
						margin-left: 20px;
						font-size: 13px;
/* 						margin-top: 15px; */
					}
					
				#list-btn {
				    padding: 10px 20px;
				    background-color: #323240;
				    border: none;
				    border-radius: 5px;
				    cursor: pointer;
				    font-size: 16px;
				    color: white;
				    margin-bottom: 50px;
				}
		.bottom {
			margin: 0 auto;
		    margin-top: 50px;
		    height: 50%;	
		    margin-bottom: 200px;
/* 		    float: left; */
			width: 80%;

		}
				.section-title {
				  font-size: 24px;
				  border-bottom: 1px solid #000;
				  padding-bottom: 10px;
				}
				.rec-box {
				  margin: 0 auto;
				  margin-top: 30px;
				  margin-bottom: 30px;
				}
					.random-tag {
						cursor: pointer;
						font-size: 18px;
						margin-right: 10px;
					}
					.selected {
					    font-weight: bold;
					}
				
				#brewery-list {
				  margin: 0 auto;
				  background-color: #F2EADF;
				  width: 100%;
				  height: 291px;
				  margin-top: 30px;
/* 				  padding: 20px; */

				}
				
				.brewery-item {
				  width: 25%;
				  float: left;	
				  background-color: #fff;
				  border: 1px solid #ddd;
				}
				
				.brewery-image {
				  height: 220px;
				  background-color: #f0f0f0;
				  background-position: center;
				  background-size: cover;
				  cursor: pointer;
				  
				}
				
				.brewery-info {
				  padding: 10px;
				  
				}
				
				.brewery-info h3 {
				  margin: 0;
				  font-size: 18px;
				  cursor: pointer;
				}
				
				.brewery-info p {
				  margin: 5px 0 0;
				  font-size: 14px;
				  color: #666;
				}

/* footer */
footer {
	background-color: white;
	padding: 50px 20px;
	text-align: center;
}

footer nav {
	margin-bottom: 20px;
}

footer nav a {
	text-decoration: none;
	color: black;
	font-size: 15px;
}

.company-info {
	font-size: 13px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.social-icons {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-bottom: 20px;
}

.icon-facebook, .icon-instagram {
	width: 40px;
	height: 40px;
}

.social-icons img {
	width: 100%;
}

.copyright {
	font-size: 10px;
}


#logo {
	width: 80px;
	height: 80px;
}
#logo {
	/* width: 100px;
    height: 100px; */
	border-radius: 25%;
	margin: auto 10px;
	/* margin-right: 10px; */
}

#logo-container {
	display: flex;
	flex-direction: row;
}
.logo-link {
	text-decoration: none; /* 링크의 밑줄 제거 */
	color: inherit; /* 링크의 색상 제거 */
}
		/* 네비게이션 바 추가 - 여기서부터 추가*/
.dropdown {
	position: relative;
	display: inline-block;
}

.icon-user {
	cursor: pointer;
}

.header-img {
	width: 30px;
	height: 30px;
}

.mypage-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 2;
	right: 0;
	font-size: 13px;
	font-weight: 400;
	--text-align: center;
}

.mypage-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.mypage-content a:hover {
	background-color: #f1f1f1;
}

.show {
	display: block;
}

.user-name {
	padding: 12px 16px;
	display: block;
}

.logo-link {
	text-decoration: none; /* 링크의 밑줄 제거 */
	color: inherit; /* 링크의 색상 제거 */
}
	.header-img {
		margin: 10px 20px;
		flex: 1;
		min-width: 0;
	}
	.user-actions {
		display: flex;
		gap: 20px;
	}
	.icon-user {
		display: inline-block;
		width: 50px;
		height: 50px;
	}
	.user-actions img {
		width: 50px;
		height: 50px;
	}
	h1 {
		font-size: 40px;
		font-weight: 800;
	}
		