body, html {
	font-family: 'Noto Serif KR', serif;
	font-size: 10px;
	line-height: 1.5;
}
/* header */
header {
	background-color: white;
	padding: 20px;
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	margin: 0 auto;
	margin-bottom: 25px;
}

h1 {
	font-size: 40px;
	font-weight: 800;
	margin-top: 8px;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px;
}

nav ul li a {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

.user-actions {
	display: flex;
}

.icon-user, .icon-menu {
	width: 50px;
	height: 50px;
}

.user-actions img {
	width: 30px;
	height: 30px;
}

#logo {
	border-radius: 25%;
	margin: auto 10px;
}

#logo-container {
	display: flex;
	flex-direction: row;
}

.header-img {
	margin: 10px 10px;
	flex: 1;
	min-width: 0;
}

.icon-user {
	display: inline-block;
	width: 50px;
	height: 50px;
}

/* 네비게이션 바 추가 - 여기서부터 추가*/
.dropdown {
	position: relative;
	display: inline-block;
}

.icon-user {
	cursor: pointer;
}

.header-img {
	width: 30px;
	height: 30px;
}

.mypage-content {
	display: none;
	position: absolute;
	background-color: #F9F9F9;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 2;
	right: 0;
	font-size: 13px;
	font-weight: 400;
	--text-align: center;
}

.mypage-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.mypage-content a:hover {
	background-color: #f1f1f1;
}

.show {
	display: block;
}

.user-name {
	padding: 12px 16px;
	display: block;
}

.logo-link {
	text-decoration: none; /* 링크의 밑줄 제거 */
	color: inherit; /* 링크의 색상 제거 */
}

@media ( min-width : 1024px) {
	.header-img {
		margin: 10px 20px;
		flex: 1;
		min-width: 0;
	}
	.user-actions {
		display: flex;
		gap: 20px;
	}
	.icon-user {
		display: inline-block;
		width: 50px;
		height: 50px;
	}
	.user-actions img {
		width: 50px;
		height: 50px;
	}
	h1 {
		font-size: 40px;
	}
	#logo {
		width: 80px;
		height: 80px;
	}
	main {
		padding: 0;
	}
	#popular-breweries {
		height: 70vh;
	}
	.story-image {
		height: 500px;
	}
	.tour-item {
		height: 350px;
	}
}

@media ( min-width : 768px) {
	h1 {
		font-size: 40px;
	}
	.user-actions img {
		width: 40px;
		height: 40px;
		margin: auto;
	}
	#logo {
		width: 60px;
		height: 60px;
	}
	.story-content {
		flex-direction: row;
		justify-content: space-between;
	}
	.story-image {
		width: 60%;
		height: 400px;
	}
	.tour-grid {
		grid-template-columns: repeat(3, 1fr);
	}
	.tour-item {
		height: 300px;
	}
}

#logo {
	width: 50px;
	height: 50px;
}

/* footer */
footer {
	background-color: white;
	padding: 50px 20px;
	text-align: center;
}

footer nav {
	margin-bottom: 20px;
}

footer nav a {
	text-decoration: none;
	color: black;
	font-size: 15px;
}

.company-info {
	font-size: 13px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.social-icons {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-bottom: 20px;
}

.icon-facebook, .icon-instagram {
	width: 40px;
	height: 40px;
}

.social-icons img {
	width: 100%;
}

.copyright {
	font-size: 10px;
}

.successPayment {
	max-width: 600px;
	margin: 0 auto;
	align-items: center;
	text-align: center;
}

a {
	text-decoration-line: none;
}

button {
	width: 70%;
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	margin-top: 20px;
	border-radius: 5px;
}

button:hover {
	background-color: #45a049;
}