/* 공통 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Noto Serif KR', serif;
	font-size: 10px;
    line-height: 1.5;
}


.container {
    max-width: 1920px;
    margin: 0 auto;
}

/* 헤더 */
header {
    background-color: white;
    padding: 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    
    margin-bottom: 25px;
}

#logo{
    width: 80px;
	height: 80px;
    border-radius: 25%;
    margin: auto 10px;
    /* margin-right: 10px; */


}

#logo-container{
    display: flex;
    flex-direction: row;
    
}

.header-img{
    margin: 10px 10px;
    flex: 1;
    min-width: 0;
}

.icon-user{
    display: inline-block;
    width: 50px;
    height: 50px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    margin-top: 8px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    /* font-size: 1.2rem; */
    font-size: 18px;
}

.user-actions {
    display: flex;
    gap: 20px;
}

.icon-user, .icon-menu {
    width: 50px;
    height: 50px;
    /* background-color: #D9D9D9; */
}

.user-actions img{
    width: 50px;
    height: 50px;
}

/* 메인 */
.content-wrapper {
	width: 50%;
	margin: 0 auto;
}
body {
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
}
.inputForm {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: center;
}

/* 폼 요소들의 폰트 크기 조정 */
input, select, button, label {
    font-size: 1.5rem;  /* 1rem은 body의 font-size를 따라가므로 16px가 됩니다 */
}

input, select {
    width: 100%;
    padding: 5px;
}
button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.checkbox-group {
    display: flex;
    gap: 10px;
}
.file-buttons {
    display: flex;
    gap: 10px;
}
.submit-button {
    grid-column: 0 / -1;
    justify-self: start;
    margin-top: 20px;
}
img {
    max-width: 200px;
    float: right;
}

/* 리스트 아이템을 클릭 가능하게 보이도록 스타일 추가 */
.clickable-brewery {
    color: blue; /* 파란색으로 텍스트 색상 변경 */
    cursor: pointer; /* 마우스를 가져다 대면 커서가 클릭 모양으로 변경 */
    text-decoration: underline; /* 링크처럼 밑줄 추가 */
}

/* 마우스를 가져다 댔을 때의 추가 스타일 (선택 사항) */
.clickable-brewery:hover {
    color: darkblue; /* 마우스를 올렸을 때 더 진한 파란색으로 변경 */
}

/* footer */
footer {
    background-color: white;
    padding: 50px 20px;
    text-align: center;
}

footer nav {
    margin-bottom: 20px;
}

footer nav a {
	text-decoration: none;
	color: black;
	font-size: 15px;
}

.company-info {
	font-size: 13px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.icon-facebook, .icon-instagram {
    width: 40px;
    height: 40px;
}

.social-icons img{
    width: 100%;
}

.copyright {
	font-size: 10px;
}

/* 네비게이션 바 추가 - 여기서부터 추가*/
.dropdown {
            position: relative;
            display: inline-block;
        }
        
        .icon-user {
            cursor: pointer;
        }
        
        .header-img {
            width: 30px;
            height: 30px;
        }
        
        .mypage-content {
			display: none;
			position: absolute;
			background-color: #F9F9F9;
			min-width: 120px;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 2;
			right: 0;
			font-size: 13px;
			font-weight: 400;
			--text-align: center;
		}
        
        .mypage-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .mypage-content a:hover {
            background-color: #f1f1f1;
        }
        
        .show {
            display: block;
        }
        
		.user-name {
			padding: 12px 16px;
			display : block;
		}
		
		.logo-link {
			text-decoration: none; /* 링크의 밑줄 제거 */  
			color: inherit; /* 링크의 색상 제거 */
		}