* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    font-family: 'Noto Serif KR', serif;
    font-size: 10px;
    line-height: 1.5;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none
}

header {
    background-color: white;
    padding: 20px;
}

	.header-top {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    width: 90vw;
	    margin: 0 auto;
	    
	    margin-bottom: 25px;
	}
	
	#logo-container{
    display: flex;
    flex-direction: row; 
	}
		#logo{
	    width: 80px;
		height: 80px;
	    border-radius: 25%;
	    margin: auto 10px;
	    margin-right: 10px;
		}
	
		h1 {
			text-decoration: none;
			color: black;
		    font-size: 40px;
		    font-weight: 800;
		    margin-top: 8px;
		}
	
	.user-actions {
	    display: flex;
	    gap: 20px;
	}
	
		.icon-user, .icon-menu {
		    width: 50px;
		    height: 50px;
		    /* background-color: #D9D9D9; */
		}
		
			.user-actions img{
			    width: 50px;
			    height: 50px;
			}
			
	nav ul {
	    list-style-type: none;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-around;
	    gap: 10px;
	}
	
		nav ul li a {
			text-decoration: none;
			color: black;
			font-size: 18px;
		}
main {
    margin: 0 auto;
    width: 85%;
}        
	.liquor-image {
    width: 80px;
    height: 80px;
    background-color: #eee;
    margin: 0 auto;
	}
	#searchTable {
		margin-top: 30px;
		display: flex;
		justify-content: flex-end;
	}
		#liquorType {
		    font-size: 1.2em; /* 크기를 크게 설정 */
		    padding: 10px;
		    border-radius: 15px; /* 테두리를 둥글게 */
		    border: 2px solid #ccc; /* 테두리 색상 */
		    width: 90px; /* 너비 조정 */
		    height: 50px; /* 높이 조정 */
		    outline: none; /* 클릭 시 외곽선 제거 */
		    margin-right: 20px;
		    display: flex; /* Flexbox를 사용하여 가운데 정렬 */
		    align-items: center; /* 수직 가운데 정렬 */
		    justify-content: center; /* 수평 가운데 정렬 */
		    text-align: center; /* 텍스트 가운데 정렬 */
		}
		
		#liquorType option {
		    font-size: 1.2em; /* 옵션 텍스트 크기 */
		    padding: 5px;
		    text-align: center; /* 옵션 텍스트 가운데 정렬 */
		}	
			
			#sc-brewery:hover, #sc-local:hover {
			    background-color: #f0f0f0; /* 마우스 오버 시 배경색 변경 */
			}
		.searchKeywordSelect, .searchKeywordInput {
		    font-size: 1.2em; /* 크기를 크게 */
		    padding: 10px;
		    border-radius: 15px; /* 테두리를 둥글게 */
		    border: 2px solid #ccc; /* 테두리 색상 */
		    width: 300px; /* 너비 설정 */
		    height: 50px; /* 높이 설정 */
		    outline: none; /* 외곽선 제거 */
		}
		
			/* 검색어 입력 필드에 특화된 스타일 */
			.searchKeywordInput {
			    width: 200px; /* 검색 입력 필드 너비 설정 */
			    margin-right: 20px;
			}
			
				/* 선택 옵션 스타일 */
				.searchKeywordSelect {
				    width: 200px; /* 드롭다운 너비 설정 */
				    margin-right: 20px;
				    padding-right: 100px;
				}
				
				/* 옵션들의 스타일 */
				.searchKeywordSelect option {
				    padding: 5px;
				    font-size: 1.2em; /* 옵션 텍스트 크기 */
				    border-radius: 10px; /* 옵션에도 둥근 테두리 */
				}
				
				/* 마우스 오버 시 스타일 */
				.searchKeywordSelect option:hover {
				    background-color: #f0f0f0; /* 마우스 오버 시 배경색 변경 */
				}
				.searchButton {
				    font-size: 1.2em; /* 글자 크기 */
				    padding: 10px 20px; /* 패딩으로 크기 조정 */
				    border-radius: 15px; /* 테두리를 둥글게 */
				    border: 2px solid #ccc; /* 테두리 색상 */
				    background-color: #fff; /* 버튼 배경색 */
				    cursor: pointer; /* 마우스 커서 포인터로 변경 */
				    width: 80px; /* 너비 설정 */
				    height: 50px; /* 높이 설정 */
				    outline: none; /* 외곽선 제거 */
				}
				
				/* 마우스 오버 시 스타일 */
				.searchButton:hover {
				    background-color: #ccc; /* 마우스 오버 시 배경색 변경 */
				}
	/* 기본 테이블 스타일 */
	#liquor-table {
	    width: 100%;
	    border-collapse: collapse;
	    table-layout: fixed;
	    margin-top: 30px;
	}
	
	/* 헤더 스타일 (테두리 없음) */
	#liquor-table thead th {
	    padding: 15px;
	    background-color: #F2EADF;
	    font-weight: bold;
	    text-align: center;
	    border: none; /* 테두리 없음 */
	    font-size: 15px;
	}
	
	/* 바디 스타일 (세로 끝에만 테두리) */
	#liquor-table tbody tr {
	    border-top: 1px solid #ddd; /* 각 행 상단에 가로줄 */
	    border-bottom: 1px solid #ddd; /* 각 행 하단에 가로줄 */
	  	font-size: 15px;
	}
	
	#liquor-table tbody td {
	    padding: 10px;
	    text-align: center;
	    border-left: none; /* 왼쪽 테두리 없음 */
	    border-right: none; /* 오른쪽 테두리 없음 */
	    font-size: 15px;
	}
	
	#liquor-table tbody a {
		text-decoration: none;
		color: #3f83bf;
	}
	
	/* 맨 마지막 열에만 테두리 적용 */
	#liquor-table tbody td:first-child {
	    border-left: 1px solid #ddd; /* 첫 번째 열 왼쪽 테두리 */
	}
	
	#liquor-table tbody td:last-child {
	    border-right: 1px solid #ddd; /* 마지막 열 오른쪽 테두리 */
	}
		/* 수정 및 삭제 버튼 스타일 */
		.modifyButton, .deleteButton {
		    padding: 5px 10px;         /* 버튼 안쪽 여백 */
		    background-color: #323240; 
		    color: white;              
/* 		    border: none;              테두리 없음 */
			border: 2px solid #ccc; /* 테두리 색상 */
/* 			background-color: #fff; 버튼 배경색 */
		    border-radius: 7px;        
		    cursor: pointer;           /* 마우스 포인터 변경 */
		    font-size: 0.9em;          /* 글자 크기 조정 */
		    margin: 2px;               /* 버튼 사이 간격 */
		    width: 75px;
		    height: 40px;
		}
		
		/* 삭제 버튼은 다른 색상으로 */
		.deleteButton {
		    background-color: #A64444; /* 빨간색 배경 */
		    color: white;
		}
	
		#liquor-table tfoot td {
		    width: 100%; /* 100% 너비 */
		    text-align: center; /* 수평 중앙 정렬 */
		    vertical-align: middle; /* 수직 중앙 정렬 */
		    padding: 10px;
		    border-top: 1px solid #ddd; /* 가로줄 추가 */
		}
	
	/* 페이지 링크 스타일 */
	.paginationLink {
	    padding: 5px 10px;
	    text-decoration: none;
	    border: 1px solid #ddd;
	    margin: 0 5px;
	    color: #333;
	}
	
	.paginationLink:hover {
	    background-color: #f0f0f0;
	    color: #000;
	}		
	.insertButton {
	    font-size: 1.2em; /* 글자 크기 */
	    padding: 10px 20px; /* 패딩으로 크기 조정 */
	    border-radius: 15px; /* 테두리를 둥글게 */
	    border: 2px solid #ccc; /* 테두리 색상 */
	    background-color: #F2EADF; /* 버튼 배경색 */
	    cursor: pointer; /* 마우스 커서 포인터로 변경 */
	    width: 118px; /* 너비 설정 */
	    height: 55px; /* 높이 설정 */
	    outline: none; /* 외곽선 제거 */
	    margin-left: 90%;
	    font-weight: bold;
	   	margin-top: 20px;
	    
	}
				    
    
footer {
    background-color: white;
    padding: 50px 20px;
    text-align: center;
    width: 100%;
}

	footer nav {
	    margin-bottom: 20px;
	}
	
		footer nav a {
			text-decoration: none;
			color: black;
			font-size: 15px;
		}
	
		.company-info {
			font-size: 13px;
			line-height: 1.5;
			margin-bottom: 20px;
		}
	
		.social-icons {
		    display: flex;
		    justify-content: center;
		    gap: 20px;
		    margin-bottom: 20px;
		}
	
			.icon-facebook, .icon-instagram {
			    width: 40px;
			    height: 40px;
			}
			
			.social-icons img{
			    width: 100%;
			}
	
		.copyright {
			font-size: 10px;
		}
	
/* 네비게이션 바 추가 - 여기서부터 추가*/
.dropdown {
    position: relative;
    display: inline-block;
}

.icon-user {
    cursor: pointer;
}

.header-img {
    width: 30px;
    height: 30px;
}

.mypage-content {
	display: none;
	position: absolute;
	background-color: #F9F9F9;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 2;
	right: 0;
	font-size: 13px;
	font-weight: 400;
	--text-align: center;
}

.mypage-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.mypage-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.user-name {
	padding: 12px 16px;
	display : block;
}

.logo-link {
	text-decoration: none; /* 링크의 밑줄 제거 */  
	color: inherit; /* 링크의 색상 제거 */
}