@charset "UTF-8";


/* 입력란 유효성 검사 */

#boardSubjectInput.fail{
	border-color: red;
	animation: shake 0.5s; /* 흔들림 애니메이션 적용 */
}
#liquorSelectBox.fail{
	border-color: red;
	animation: shake 0.5s; /* 흔들림 애니메이션 적용 */
}
.select.fail{
	border-color: red;
	animation: shake 0.5s; /* 흔들림 애니메이션 적용 */
}
#summernote.fail{
	border-color: red;
	animation: shake 0.5s; /* 흔들림 애니메이션 적용 */
}

@keyframes shake {
	0% { transform: translateX(0); }
	25% { transform: translateX(-5px); }
	50% { transform: translateX(5px); }
	75% { transform: translateX(-5px); }
	100% { transform: translateX(0); }
}



/* 별점 드롭다운 박스 css */
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}
.selected-option{
/*     position: relative; */
    cursor: pointer;
}
.select{
     border: 2px solid gray; 
    border-radius: 5px;
    width: 160px;
    text-align:center;
    color:gray;
    font-size:20px;
    line-height:40px;
    font-weight:bold;
    
    z-index:2;
    background-color:white;
    user-select:none;
    margin:10px 0;
    
    position:absolute;
}
.select li{
    position: relative;
}
.select li:hover{
    background-color: rgb(236, 236, 236);
}
.starContainer{
    position:absolute;
    left: 3px;
    top:0px
}
.hide{
    display: none;
}
.show{
    display: block;
}
.fa-star, .fa-star-half{
    color: rgb(255, 209, 59);
}





* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Noto Serif KR', serif;
    margin:0;
    background-color:white;
}



#boardWriteContainer{
	max-width: 1400px;
	margin: 0 auto;
	background-color: white;
	padding: 20px;
	padding-left:40px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	
}

#boardSubjectInput{
	font-size:40px;
	font-weight:bold;
	border:0px;
	padding: 10px;
	border-bottom:2px solid gray;
	flex-shrink: 1;
	flex-grow:1;
}


.tagify{
	border:2px solid gray;
	min-width:200px;
}


#uploadFile-id{
	margin: 15px 0;
}

button{
	width:60px;
	height:40px;
	line-height: 40px;
	text-align: center;
	background-color:#735747;
	border-radius:10px;
	border:0px;
	color:white;
	font-size:18px;
	cursor:pointer;
	margin:0 5px;
}

