@charset "UTF-8";

/* footer */
footer {
    background-color: white;
    padding: 50px 20px;
    text-align: center;
}

footer nav {
    margin-bottom: 20px;
}

footer nav a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.company-info {
    font-size: 13px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.icon-facebook, .icon-instagram {
    width: 40px;
    height: 40px;
}

.social-icons img{
    width: 100%;
}

.copyright {
    font-size: 10px;
}