@charset "UTF-8";

header {
	background-color: white;
	padding: 20px;
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	margin: 0 auto;
	margin-bottom: 25px;
}

h1 {
	font-size: 40px;
	font-weight: 800;
	margin-top: 8px;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px;
}

nav ul li a {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

.user-actions {
	display: flex;
}

.icon-user, .icon-menu {
	width: 50px;
	height: 50px;
}

.user-actions img {
	width: 30px;
	height: 30px;
}




#logo {
	width: 80px;
	height: 80px;
}
#logo {
	border-radius: 25%;
	margin: auto 10px;
}

#logo-container {
	display: flex;
	flex-direction: row;
}
.logo-link {
	text-decoration: none; /* 링크의 밑줄 제거 */
	color: inherit; /* 링크의 색상 제거 */
}
		/* 네비게이션 바 추가 - 여기서부터 추가*/
.dropdown {
	position: relative;
	display: inline-block;
}

.icon-user {
	cursor: pointer;
}

.header-img {
	width: 30px;
	height: 30px;
}

.mypage-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 2;
	right: 0;
	font-size: 13px;
	font-weight: 400;
	--text-align: center;
}

.mypage-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.mypage-content a:hover {
	background-color: #f1f1f1;
}

.show {
	display: block;
}

.user-name {
	padding: 12px 16px;
	display: block;
}

.logo-link {
	text-decoration: none; /* 링크의 밑줄 제거 */
	color: inherit; /* 링크의 색상 제거 */
}
	.header-img {
		margin: 10px 20px;
		flex: 1;
		min-width: 0;
	}
	.user-actions {
		display: flex;
		gap: 20px;
	}
	.icon-user {
		display: inline-block;
		width: 50px;
		height: 50px;
	}
	.user-actions img {
		width: 50px;
		height: 50px;
	}
	h1 {
		font-size: 40px;
		font-weight: 800;
	}
		