@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#btnWrap {
  width: 500px;
  margin: 100px auto;
}
#popupBtn {
  width: 150px;
  height: 50px;
  padding: 10px 5px;
  background-color: #007bff;
  color: #fff; 
  border: none; 
  cursor: pointer;
}
#modalWrap {
  position: fixed; 
  z-index: 10; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); 
  display: none; 
}

#modalBody {
  width: 800px;
  height: 800px;
  padding: 30px 30px;
  margin: 0 auto;
  border: 1px solid #777;
  background-color: #fff;
}

#closeBtn {
  float: right;
  font-weight: bold;
  color: #777;
  font-size: 25px;
  cursor: pointer;
}

#liquorSelectBox{
	font-size:30px;
	font-weight:bold;
	line-height:80px;
	text-align:center;
	color:gray;
	border-bottom:2px gray solid;
	margin-right:10px;
}
#liquorSelectBox:hover{
	color:black;
	border-bottom:2px black solid;
	cursor:pointer;
}


#liquorSearchBox{
	width:100%;
	height:100px;
}
#liquorSearchKeyword{
	width:80%
}
#searchResultList{
	width:100%;
	height:80%;
	overflow: auto;
}

#liquorList-container{
	width:100%;
	height:100%;
}

#liquorList-table{
	width:100%;
	height:70%;
	border:1px solid black;
	position:relative;
	overflow: scroll;
}

tr, td, th{
	border: 1px solid black;
}

#liquorList-table thead{
	position:absolute;
	top:0px;
}
#liquorList-table tbody{
	overflow: scroll;
}
#liquorList-table tbody td{
	height:100px;
}



#liquorModal-item{
	display:flex;
	justify-content:space-between;
	font-size:18px;
	
	height:90px;
}
#liquorModal-item div{
	width:120px;
	height:30px;
	text-align:center;
	align-items: center;
}

