@charset "UTF-8";

* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Noto Serif KR', serif;
    margin:0;
    background-color:white;
}



.container {
	max-width: 1800px;
	margin: 0 auto;
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	max-width: 1800px;
}



.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.tag {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 14px;
    color: #333;
}
.view-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.view-type a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}
.sort-select select {
    padding: 5px;
}
.review-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 

    gap: 20px;
}


.review-card{
	transition: all 0.2s ease;
	cursor:pointer;	
	height: 620px;
}
.review-card a{
	color: black;	 
	height: 100%;       	
}
      
      
.review-card:hover {
    border-radius: 8px;
    overflow: hidden;
	transform: translate(0px,-5px);
	box-shadow: 0px 5px 5px 5px rgb(162, 162, 162);
}
.boardOne{
	display: flex;
	flex-direction: column;
	height: 100%;
	
}
      
      
.review-header {
	width:100%;
	height:100px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.review-content{
	width:100%;
	flex-grow: 1;
}
      
h3{
	margin: 10px 0; 
	max-width:200px; 
}
      
.review-footer {
    background-color: #f8f8f8;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
} 
      
      

     
.thumbnail{
	width: 100%;
	height: 300px;
	background-color: black;
}
.contentDiv-text{
	width: 100%;
	height: 150px;
	padding: 10px;
}
.starContainer{
	color: #fdc82a;
	width: 120px;
}

.starContainer i{
	font-size: 20px;
	line-height: 45px;
}
     
#searchCondition{
	border-radius: 5px;
	width: 80px;
	height: 100%;
	border: 3px solid #735747;
	color: #735747;
	font-size: 15px;
	font-weight: 1000;
	
}
#searchFormBar{
	height: 60px;
}
     
#searchBar{
	width: 100%;
	height: 100%;
 	border-radius: 30px;
	padding: 0px;
	border: 3px solid #735747;
}

#searchBtn-keyword{
	border-radius:50%;
	padding: 0px;
	width: 60px;
	height: 60px;
	color: white;
	background-color:#735747;
	border: 0px;
	font-size: 25px;
	cursor: pointer;
}
     
#searchBarContainer{
	margin:0 auto;
	width:80%;
	display: flex;
	justify-content: center;
	height: 100%;
}
    
    
     
#tagListContainer{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	gap:8px;
	position: relative;
}
     
#searchButton{
	width: 80px;
	height: 50px;
	font-size: 16px;
	font-weight:1000;
	border-radius: 10px;
	background-color: #735747;
	color: white;
	border: 0px;
	position: absolute;
	left: 100%;
	top: 0px;
	cursor: pointer;
}
#searchButton:disabled {
	color: gray;
	background: rgb(221, 208, 190);
	border: 0px;
}

label{
	user-select:none;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	padding: 8px;
    background-color: rgb(221, 208, 190);
    color: #735747;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.2s
}
     
label:hover{
	background-color: #735747;
	color: white;
	transform:scale(1.1);
}
     
.tagCheckBox:checked + label{
	background: #735747;
	color: white;
	transform:scale(1.1);
}

#writePageLink{
	display:block;
	color: white;
	font-size: 18px;
	font-weight:1000;
	text-decoration: none;
	width: 80px;
	height: 50px;
	background-color: #bf4539;
	text-align: center;
	border-radius: 10px;
	line-height: 50px;
}
.sort-select{
	position: relative;
	height: 50px;
}
#orderSelectBox{
	border-radius: 5px;
    width: 80px;
    height: 40px;
    border: 3px solid #735747;
    color: #735747;
    font-size: 15px;
    font-weight: 1000;
    position: absolute;
    top: 0px;
    right: 0px;
}
.paginationBox a{
	display:inline-block;
	text-align:center;
	line-height:30px;
	font-size: 20px;
	min-width:30px;
	height:30px;
	text-decoration: none;
	color: #333;
}
.paginationBox #currentPageId{
	display:inline-block;
	text-align:center;
	line-height:30px;
	font-size: 20px;
	min-width:30px;
	height:30px;
	text-decoration: none;
	border-radius:50%;
	background-color:#bf4539;
	color: white;
}

.paginationBox{
	text-align: center; 
	height: 120px;
	line-height: 100px;
}
